body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    font-size: 48px;
    text-decoration: none;
}

#menu{
    display: flex;
    justify-content: space-between;
    background-color: red;
    width: 100%;
}

#menu a{
    color: white;
    text-decoration: none;
}

.container{
    display: flex;
}

.categorias{
    width: 25%;
}

.produto{
    display: flex;
    width: 100%;
}

.box_produto{
    padding: 10px;
    width: 25%;
}

.preco{
    color: red;
}

#footer{
    text-align: center;
}

#forma_pagamento{
    color: red;
}

#img-forma{
    width: 450px;
}

#main-lojas{
    display: flex;
}

.lojas{
    width: 33%;
}

#main-contato{
    display: flex;
}

.contato{
    width: 50%;
    text-align: center;
}

.form{
    margin-top: 40px;
    text-align: center;
}